.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
} 
.sidenav-content{
    height:calc(100vh - 80px);
}

.menu-icon-display {
    transform: scale(0.8);
 }