<mat-card-content>
    <div class="page-area" fxLayout="row wrap" fxFlex="100">
        <div class="header-area" fxLayout="row" fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="start center">
            <button class="back-btn bgcolor-white fntcolor-grey3 p-l-15" (click)="navigateToRoute(false)"
                mat-flat-button type="button">
                <mat-icon>chevron_left</mat-icon>Back
            </button>
            <span fxFlex></span>
            <button class="bgcolor-darkblue fntcolor-white" *ngxPermissionsOnly="['6']" (click)="navigateToPage()" mat-flat-button type="button">
                <mat-icon>person_add</mat-icon>
                Add User
            </button>
        </div>
        <div class="grid-area" fxFlex="100">
            <kendo-grid class="grid-height2"
                        [data]="gridData"
                        [selectable]="true"
                        [pageSize]="state.take"
                        [skip]="state.skip"
                        [sort]="state.sort"
                        [filter]="state.filter"
                        [sortable]="true"
                        [filterable]="true"
                        (dataStateChange)="dataStateChange($event)"
                        [pageable]="{ buttonCount: paginationConfig.buttonCount,
                            info: paginationConfig.info,
                            previousNext : paginationConfig.previousNext,
                            type: paginationConfig.type,
                            pageSizes: paginationConfig.pageSizes}">
                <kendo-grid-column field="firstName" title="First Name" >
                </kendo-grid-column>
                <kendo-grid-column field="lastName" title="Last Name" >
                </kendo-grid-column>
                <kendo-grid-column field="email" title="Email" >
                </kendo-grid-column>
                <kendo-grid-command-column>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button *ngxPermissionsOnly="['5']" kendoButton matTooltip="Edit" (click)="navigateToPage(dataItem.id , false)"><mat-icon>edit</mat-icon></button>
                        <button *ngxPermissionsOnly="['6']" kendoButton matTooltip="View" (click)="navigateToPage(dataItem.id , true)"><mat-icon>visibility</mat-icon></button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid> 
        </div>
    </div>
</mat-card-content>