@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~material-design-icons/iconfont/material-icons.css";
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'pallet.scss';
//kendo material theme
@import "@progress/kendo-theme-material/scss/grid/";

@each $name, $value in $palette {
    .bgcolor-#{$name} {
        background-color: $value !important;
    }
}

@each $name, $value in $palette {
    .fntcolor-#{$name} {
        color: $value !important;
    }
}


.mat-button-base.back-btn {
    border: 1px solid map-get($palette, grey2);
}

.header-area {
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    top: -15px;
    z-index: 2;
    margin-bottom: 30px;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px dashed map-get($palette, grey5);
    }
}

.page-area {
    margin-left: 10px;
}

.grid-area {
    background-color: map-get($palette, white);
}

.mat-card {
    padding: 24px;
}

.margin-top-10 {
    margin-top: 10px !important;
}